.hero-section {
	background-color: black; 
    padding: 100px 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
  
  .title {
	font-size: 2.5rem;
	margin-bottom: 20px;
  }
  
  .subtitle {
	font-size: 2rem;
	color: red;
	margin-bottom: 20px;
  }
  
  .description {
	font-size: 1.2rem;
	margin-bottom: 40px;
  }
  
  .call-to-action {
	background-color: red;
	color: white;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 5px;
	font-size: 1rem;
	transition: background-color 0.3s;
  }
  
  .call-to-action:hover {
	background-color: darkred;
  }
  .background {
    background-image: url('../public/images/bg1.png');
    background-size: cover;
    /* background-position: center; */
}
@media (max-width: 768px) {
	.background {
	  background-position: top;
	}
  }

.zoom-animation {
	transition: transform 0.3s ease-in-out; 
  }
  
  .section-image-center:hover .zoom-animation {
	transform: scale(1.4);
  }

  .features-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .feature-card {
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
	padding: 20px;
	text-align: left;
	width: 100%;
  }
  
  .icon {
	font-size: 24px;
	margin-bottom: 10px;
	color: #007bff; 
  }
  
  h3 {
	margin: 0 0 10px 0;
  }
  
  p {
	margin: 0;
  }